


select.dropdown {
    width: 100px;
}


button.normal{
    height: 20px;
    width: 100px;
    
}

textarea.selected_series {
    height: 200px;
    width: 400px;
    text-align: left;
    text-align
}