
.dropdown-menu {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 5px;
}

select {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}


.standard-button {
    width:15%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}